<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Items</title>
</head>
<body>
  <h1>Items</h1>
  <ul>
    <% items.forEach(item => { %>
      <li>
        <%= item.name %> - <%= item.value %>
        <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        <form action="/items/<%= item._id %>?_method=PUT" method="POST">
          <input type="text" name="name" value="<%= item.name %>">
          <input type="number" name="value" value="<%= item.value %>">
          <button type="submit">Update</button>
        </form>
      </li>
    <% }); %>
  </ul>
  <form action="/items" method="POST">
    <input type="text" name="name" placeholder="Item name">
    <input type="number" name="value" placeholder="Item value">
    <button type="submit">Add Item</button>
  </form>
</body>
</html>